[submodule "vimfiles/bundle/vimerl"]
	path = vimfiles/bundle/vimerl
	url = git://github.com/jimenezrick/vimerl.git
[submodule "vimfiles/bundle/command-t"]
	path = vimfiles/bundle/command-t
	url = git://github.com/wincent/Command-T.git
[submodule "vimfiles/bundle/python-mode"]
	path = vimfiles/bundle/python-mode
	url = git://github.com/klen/python-mode.git
[submodule "vimfiles/bundle/vcscommand"]
	path = vimfiles/bundle/vcscommand
	url = git://repo.or.cz/vcscommand.git
[submodule "vimfiles/bundle/fsharp"]
	path = vimfiles/bundle/fsharp
	url = git://github.com/kongo2002/fsharp-vim.git
